version: '3.8'

services:
  backend:
    build: 
      context: .
      dockerfile: docker/Dockerfile.be
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - postgres

  frontend:
    build:
      context: .
      dockerfile: docker/Dockerfile.fe
      args:
        - DATABASE_URL=${DATABASE_URL}
    ports:
      - "3000:3000"   
    environment:
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - postgres
    
  ws:
    build: 
      context: .
      dockerfile: docker/Dockerfile.ws
    ports:
      - "8081:8081"
    environment:
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - postgres
    
  postgres:
    image: postgres:17
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=myapp 
    volumes:
      - postgres_data:/var/lib/postgresql/data 
    ports:
    - "5432:5432" 

volumes:
  postgres_data: