name: Deploy Backend
on:
    push:
        branches: [main]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the code
              uses: actions/checkout@v2
            
            # Push the image to docker hub
            - name: Docker login
              uses: docker/login-action@v2
              with: 
                username: ${{secrets.DOCKER_USERNAME}}
                password: ${{secrets.DOCKER_TOKEN}}
            - name: build and push
              uses: docker/build-push-action@v4
              with: 
                context: .
                file: ./docker/Dockerfile.be
                push: true
                tags: kartikdoda/test-backend:${{github.sha}}
            
            # SSH into a vm and deploy and pull the pushed image there for be
            - name: Deploy to VM
              run: |
                 echo "${{secrets.SSH_PRIVATE_KEY}}" > ~/ssh_key
                 chmod 600 ~/ssh_key
                 ssh -o StrictHostKeyChecking=no -i ~/ssh_key ubuntu@54.89.187.89 "docker pull kartikdoda/test-backend:${{github.sha}} && docker stop test-backend || true && docker rm test-backend || true && docker run -d --name test-backend -p 8080:8080 kartikdoda/test-backend:${{github.sha}}"