name: Deploy Websockets
on:
    push:
        branches: [main]
jobs:
    build: 
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the code
              uses: actions/checkout@v2
            
            # Push the image to docker hub
            - name: Docker login
              uses: docker/login-action@v2
              with: 
                username: ${{secrets.DOCKER_USERNAME}}
                password: ${{secrets.DOCKER_TOKEN}}
            - name: build and push
              uses: docker/build-push-action@v4
              with: 
                context: .
                file: ./docker/Dockerfile.ws
                push: true
                tags: kartikdoda/test-ws:${{github.sha}}
            
            # SSH into a vm and deploy and pull the pushed image there for be
            - name: Deploy to VM
              run: |
               echo "${{secrets.SSH_PRIVATE_KEY}}" &> ~/ssh_key
               mkdir -p /home/runner/.ssh
               chmod 700 /home/runner/ssh_key
               ssh -o StrictHostKeyChecking=no -i ~/ssh_key ubuntu@54.89.187.89 -t "docker stop kartikdoda/test-ws && docker run -d -p 8081:8081 kartikdoda/test-ws:${{github.sha}}"